<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div>
          <label>Picture Link</label>
          <input type="text" [(ngModel)]="Recipe.imagePath" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div>
          <label>Name</label>
          <input type="text" [(ngModel)]="Recipe.name" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div>
          <label>Description</label>
          <input type="text" [(ngModel)]="Recipe.description" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-cs-12">
          <button class="btn btn-success" type="submit" (click)="onConfirm()">{{status}}</button>
        </div>
      </div>
    </form>
  </div>
</div>

